body {
      direction: rtl;
      font-size:11px;
}
.search {
    height:100px!important;
}
input[type=submit],input[type=text],textarea, input[type=button] {
    display:none;
}
textarea {
      display:none!important;
}
.history .print {
    height:100px!important;
}
.future .print{
    height:32px;
}
.print {
    padding:3px;
    
}
#taps {
    display:none;
}
#visits {
    display:block;
}
.sub.report-element .row,.main.report-element .row{
    border:1px groove #111;   
}
.header {
    padding-top:0;
    padding:0!important;
}
.patient-info {
    border:1px solid #111;
    height:25px;
    margin:0;
}
.search {
    margin:2px!important;
    height:50px!important;
}
.patient-info li {
    float:right;
    margin:0 10px;
    list-style:none;
}

.clearfix{
      display:none;

}
.col-md-3 {
    width:25%;
    float:left;
}
.col-md-9 {
    width:75%;
     float:left;
}
h3 {
    font-size:14px;
    font-weight:800;
}
h4 {
    font-size:12px;
    font-weight:800;
    margin:1px;
}
#reports-res {
      font-weight:800;
}

.side-report .row {
    float:left!important;
    width:18%;
    border:1px dashed #111;
    margin:5px;
    padding:0 5px;
    min-height:165px;
    margin-bottom:20px;
}
.side-report .row .radio{
    width:100px;
}

.footer-class {
    display:none;
}
#visits-res {
    padding:0!important;
}
.visits {
    width:100%;
}
.visits>div{
    width:32%;
    float:left;
    border:1px solid black;
}
.visits>div:last-child{
    width:0;
    float:left;
    border:0;
}
.visits:first-child>div:last-child{
  width:32%;
    float:left;
    border:1px solid black;
}


  a[href]:after {
    content: " (" attr(href) ")";
  }
    @page 
        {
            size: auto;   /* auto is the current printer page size */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }

        body 
        {
            background-color:#FFFFFF; 
            height:100%;
            margin: 0px;  /* the margin on the content before printing */
            padding:20px;
       }